/.metadata/
*.class
*.classpath
*.factorypath
*.atflCardService/.settings/org.eclipse.jdt.apt.core.prefs
*.atflCardService/.settings/org.eclipse.wst.common.component
*.atflEurekaServer/.settings/org.eclipse.wst.common.component
*.atflMobileInterfaceService/.settings/org.eclipse.jdt.apt.core.prefs
*.atflMobileInterfaceService/.settings/org.eclipse.wst.common.component
*.atflUsersManagement/.settings/org.eclipse.jdt.apt.core.prefs
*.atflUsersManagement/.settings/org.eclipse.wst.common.component
*.folderDeletionSchedular/.settings/org.eclipse.jdt.apt.core.prefs
*.master-service/.settings/org.eclipse.jdt.apt.core.prefs
*.master-service/.settings/org.eclipse.wst.common.component
*.spring-eureka-auth/.settings/org.eclipse.jdt.apt.core.prefs
*.spring-eureka-auth/.settings/org.eclipse.wst.common.component
*.spring-eureka-auth/src/main/resources/application.properties
*.spring-eureka-common/.settings/org.eclipse.jdt.apt.core.prefs
*.spring-eureka-common/.settings/org.eclipse.wst.common.component
*.spring-eureka-zuul/.settings/org.eclipse.jdt.apt.core.prefs
*.spring-eureka-zuul/.settings/org.eclipse.wst.common.component
*.atflCardService/target/
*.atflEurekaServer/target/
*.atflMobileInterfaceService/target/
*.atflSmsService/target/
*.atflUsersManagement/target/
*.folderDeletionSchedular/target/
*.master-service/target/
*.spring-eureka-auth/target/
*.spring-eureka-common/target/
*.spring-eureka-zuul/target/
